// Colors based on http://color.smyck.org/

// Polar Night
@smyck0: #282828; // black
@smyck1: #5D5D5D; // dark grey
@smyck2: #000000;
@smyck3: #B0B0B0; // grey

// Snow Storm
@smyck4: #B0B0B0; // grey
@smyck5: #F7F7F7; // off white
@smyck6: #F7F7F7; // white

// Frost
@smyck7: #8EB33B; // moss green
@smyck8: #72B3CC; // ice blue
@smyck9: #9CD9F0; // water blue
@smyck10: #72B3CC; // deep blue

// Aurora
@smyck11: #C75646; // red
@smyck12: #D0B03C; // orange
@smyck13: #FFE377; // yellow
@smyck14: #CDEE69; // green
@smyck15: #C8A0D1; // purple
